<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eystar.console.startup.mapper.CPHeartbeatMapper">
  <resultMap id="BaseResultMap" type="com.eystar.console.startup.entity.CPHeartbeat">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="probe_type" jdbcType="VARCHAR" property="probeType" />
    <result column="probe_name" jdbcType="VARCHAR" property="probeName" />
    <result column="task_size" jdbcType="INTEGER" property="taskSize" />
    <result column="task_queue_size" jdbcType="INTEGER" property="taskQueueSize" />
    <result column="soft_ver" jdbcType="VARCHAR" property="softVer" />
    <result column="so_ver" jdbcType="VARCHAR" property="soVer" />
    <result column="probe_id" jdbcType="VARCHAR" property="probeId" />
    <result column="internet_ip" jdbcType="VARCHAR" property="internetIp" />
    <result column="heartbeat_time" jdbcType="BIGINT" property="heartbeatTime" />
    <result column="month_time" jdbcType="DATE" property="monthTime" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="create_hour" jdbcType="BIGINT" property="createHour" />
  </resultMap>
  <!--<sql id="Example_Where_Clause">-->
    <!--<where>-->
      <!--<foreach collection="oredCriteria" item="criteria" separator="or">-->
        <!--<if test="criteria.valid">-->
          <!--<trim prefix="(" prefixOverrides="and" suffix=")">-->
            <!--<foreach collection="criteria.criteria" item="criterion">-->
              <!--<choose>-->
                <!--<when test="criterion.noValue">-->
                  <!--and ${criterion.condition}-->
                <!--</when>-->
                <!--<when test="criterion.singleValue">-->
                  <!--and ${criterion.condition} #{criterion.value}-->
                <!--</when>-->
                <!--<when test="criterion.betweenValue">-->
                  <!--and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}-->
                <!--</when>-->
                <!--<when test="criterion.listValue">-->
                  <!--and ${criterion.condition}-->
                  <!--<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">-->
                    <!--#{listItem}-->
                  <!--</foreach>-->
                <!--</when>-->
              <!--</choose>-->
            <!--</foreach>-->
          <!--</trim>-->
        <!--</if>-->
      <!--</foreach>-->
    <!--</where>-->
  <!--</sql>-->
  <!--<sql id="Update_By_Example_Where_Clause">-->
    <!--<where>-->
      <!--<foreach collection="example.oredCriteria" item="criteria" separator="or">-->
        <!--<if test="criteria.valid">-->
          <!--<trim prefix="(" prefixOverrides="and" suffix=")">-->
            <!--<foreach collection="criteria.criteria" item="criterion">-->
              <!--<choose>-->
                <!--<when test="criterion.noValue">-->
                  <!--and ${criterion.condition}-->
                <!--</when>-->
                <!--<when test="criterion.singleValue">-->
                  <!--and ${criterion.condition} #{criterion.value}-->
                <!--</when>-->
                <!--<when test="criterion.betweenValue">-->
                  <!--and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}-->
                <!--</when>-->
                <!--<when test="criterion.listValue">-->
                  <!--and ${criterion.condition}-->
                  <!--<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">-->
                    <!--#{listItem}-->
                  <!--</foreach>-->
                <!--</when>-->
              <!--</choose>-->
            <!--</foreach>-->
          <!--</trim>-->
        <!--</if>-->
      <!--</foreach>-->
    <!--</where>-->
  <!--</sql>-->
  <!--<sql id="Base_Column_List">-->
    <!--id, type, probe_type, probe_name, task_size, task_queue_size, soft_ver, so_ver, probe_id,-->
    <!--internet_ip, heartbeat_time, month_time, create_time, create_hour-->
  <!--</sql>-->
  <!--<select id="selectByExample" parameterType="sun.nqs.Db.entity.clickhouse.CPHeartbeatExample" resultMap="BaseResultMap">-->
    <!--select-->
    <!--<if test="distinct">-->
      <!--distinct-->
    <!--</if>-->
    <!--'true' as QUERYID,-->
    <!--<include refid="Base_Column_List" />-->
    <!--from c_p_heartbeat-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
    <!--<if test="orderByClause != null">-->
      <!--order by ${orderByClause}-->
    <!--</if>-->
  <!--</select>-->
  <!--<delete id="deleteByExample" parameterType="sun.nqs.Db.entity.clickhouse.CPHeartbeatExample">-->
    <!--delete from c_p_heartbeat-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</delete>-->
  <insert id="insert" parameterType="com.eystar.console.startup.entity.CPHeartbeat">
    insert into c_p_heartbeat (id, type, probe_type,
      probe_name, task_size, task_queue_size,
      soft_ver, so_ver, probe_id,
      internet_ip, heartbeat_time, month_time,
      create_time, create_hour)
    values (#{id,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{probeType,jdbcType=VARCHAR},
      #{probeName,jdbcType=VARCHAR}, #{taskSize,jdbcType=INTEGER}, #{taskQueueSize,jdbcType=INTEGER},
      #{softVer,jdbcType=VARCHAR}, #{soVer,jdbcType=VARCHAR}, #{probeId,jdbcType=VARCHAR},
      #{internetIp,jdbcType=VARCHAR}, #{heartbeatTime,jdbcType=BIGINT}, #{monthTime,jdbcType=DATE},
      #{createTime,jdbcType=BIGINT}, #{createHour,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.eystar.console.startup.entity.CPHeartbeat">
    insert into c_p_heartbeat
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="probeType != null">
        probe_type,
      </if>
      <if test="probeName != null">
        probe_name,
      </if>
      <if test="taskSize != null">
        task_size,
      </if>
      <if test="taskQueueSize != null">
        task_queue_size,
      </if>
      <if test="softVer != null">
        soft_ver,
      </if>
      <if test="soVer != null">
        so_ver,
      </if>
      <if test="probeId != null">
        probe_id,
      </if>
      <if test="internetIp != null">
        internet_ip,
      </if>
      <if test="heartbeatTime != null">
        heartbeat_time,
      </if>
      <if test="monthTime != null">
        month_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createHour != null">
        create_hour,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="probeType != null">
        #{probeType,jdbcType=VARCHAR},
      </if>
      <if test="probeName != null">
        #{probeName,jdbcType=VARCHAR},
      </if>
      <if test="taskSize != null">
        #{taskSize,jdbcType=INTEGER},
      </if>
      <if test="taskQueueSize != null">
        #{taskQueueSize,jdbcType=INTEGER},
      </if>
      <if test="softVer != null">
        #{softVer,jdbcType=VARCHAR},
      </if>
      <if test="soVer != null">
        #{soVer,jdbcType=VARCHAR},
      </if>
      <if test="probeId != null">
        #{probeId,jdbcType=VARCHAR},
      </if>
      <if test="internetIp != null">
        #{internetIp,jdbcType=VARCHAR},
      </if>
      <if test="heartbeatTime != null">
        #{heartbeatTime,jdbcType=BIGINT},
      </if>
      <if test="monthTime != null">
        #{monthTime,jdbcType=DATE},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="createHour != null">
        #{createHour,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <!--<select id="countByExample" parameterType="sun.nqs.Db.entity.clickhouse.CPHeartbeatExample" resultType="java.lang.Long">-->
    <!--select count(*) from c_p_heartbeat-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</select>-->
  <!--<update id="updateByExampleSelective" parameterType="map">-->
    <!--update c_p_heartbeat-->
    <!--<set>-->
      <!--<if test="record.id != null">-->
        <!--id = #{record.id,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.type != null">-->
        <!--type = #{record.type,jdbcType=TINYINT},-->
      <!--</if>-->
      <!--<if test="record.probeType != null">-->
        <!--probe_type = #{record.probeType,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.probeName != null">-->
        <!--probe_name = #{record.probeName,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.taskSize != null">-->
        <!--task_size = #{record.taskSize,jdbcType=SMALLINT},-->
      <!--</if>-->
      <!--<if test="record.taskQueueSize != null">-->
        <!--task_queue_size = #{record.taskQueueSize,jdbcType=SMALLINT},-->
      <!--</if>-->
      <!--<if test="record.softVer != null">-->
        <!--soft_ver = #{record.softVer,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.soVer != null">-->
        <!--so_ver = #{record.soVer,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.probeId != null">-->
        <!--probe_id = #{record.probeId,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.internetIp != null">-->
        <!--internet_ip = #{record.internetIp,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.heartbeatTime != null">-->
        <!--heartbeat_time = #{record.heartbeatTime,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="record.monthTime != null">-->
        <!--month_time = #{record.monthTime,jdbcType=DATE},-->
      <!--</if>-->
      <!--<if test="record.createTime != null">-->
        <!--create_time = #{record.createTime,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="record.createHour != null">-->
        <!--create_hour = #{record.createHour,jdbcType=INTEGER},-->
      <!--</if>-->
    <!--</set>-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <!--<update id="updateByExample" parameterType="map">-->
    <!--update c_p_heartbeat-->
    <!--set id = #{record.id,jdbcType=VARCHAR},-->
    <!--type = #{record.type,jdbcType=TINYINT},-->
    <!--probe_type = #{record.probeType,jdbcType=VARCHAR},-->
    <!--probe_name = #{record.probeName,jdbcType=VARCHAR},-->
    <!--task_size = #{record.taskSize,jdbcType=SMALLINT},-->
    <!--task_queue_size = #{record.taskQueueSize,jdbcType=SMALLINT},-->
    <!--soft_ver = #{record.softVer,jdbcType=VARCHAR},-->
    <!--so_ver = #{record.soVer,jdbcType=VARCHAR},-->
    <!--probe_id = #{record.probeId,jdbcType=VARCHAR},-->
    <!--internet_ip = #{record.internetIp,jdbcType=VARCHAR},-->
    <!--heartbeat_time = #{record.heartbeatTime,jdbcType=INTEGER},-->
    <!--month_time = #{record.monthTime,jdbcType=DATE},-->
    <!--create_time = #{record.createTime,jdbcType=INTEGER},-->
    <!--create_hour = #{record.createHour,jdbcType=INTEGER}-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
</mapper>