<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eystar.console.startup.mapper.CPPinfoMapper">
  <resultMap id="BaseResultMap" type="com.eystar.console.startup.entity.CPPinfo">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="access_type_info" jdbcType="VARCHAR" property="accessTypeInfo" />
    <result column="neighbor_info" jdbcType="VARCHAR" property="neighborInfo" />
    <result column="probe_id" jdbcType="VARCHAR" property="probeId" />
    <result column="probe_info" jdbcType="VARCHAR" property="probeInfo" />
    <result column="sgw_info" jdbcType="VARCHAR" property="sgwInfo" />
    <result column="status_info" jdbcType="VARCHAR" property="statusInfo" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="traffic_info" jdbcType="VARCHAR" property="trafficInfo" />
    <result column="timesheet" jdbcType="BIGINT" property="timesheet" />
    <result column="month_time" jdbcType="DATE" property="monthTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, access_type_info, neighbor_info, probe_id, probe_info, sgw_info, status_info, 
    create_time, traffic_info, timesheet, month_time
  </sql>


  <insert id="insert" parameterType="com.eystar.console.startup.entity.CPPinfo">
    insert into c_p_pinfo (id, access_type_info, neighbor_info, 
      probe_id, probe_info, sgw_info, 
      status_info, create_time, traffic_info, 
      timesheet, month_time)
    values (#{id,jdbcType=VARCHAR}, #{accessTypeInfo,jdbcType=VARCHAR}, #{neighborInfo,jdbcType=VARCHAR}, 
      #{probeId,jdbcType=VARCHAR}, #{probeInfo,jdbcType=VARCHAR}, #{sgwInfo,jdbcType=VARCHAR}, 
      #{statusInfo,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, #{trafficInfo,jdbcType=VARCHAR}, 
      #{timesheet,jdbcType=BIGINT}, #{monthTime,jdbcType=DATE})
  </insert>

  <insert id="insertSelective" parameterType="com.eystar.console.startup.entity.CPPinfo">
    insert into c_p_pinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="accessTypeInfo != null">
        access_type_info,
      </if>
      <if test="neighborInfo != null">
        neighbor_info,
      </if>
      <if test="probeId != null">
        probe_id,
      </if>
      <if test="probeInfo != null">
        probe_info,
      </if>
      <if test="sgwInfo != null">
        sgw_info,
      </if>
      <if test="statusInfo != null">
        status_info,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="trafficInfo != null">
        traffic_info,
      </if>
      <if test="timesheet != null">
        timesheet,
      </if>
      <if test="monthTime != null">
        month_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="accessTypeInfo != null">
        #{accessTypeInfo,jdbcType=VARCHAR},
      </if>
      <if test="neighborInfo != null">
        #{neighborInfo,jdbcType=VARCHAR},
      </if>
      <if test="probeId != null">
        #{probeId,jdbcType=VARCHAR},
      </if>
      <if test="probeInfo != null">
        #{probeInfo,jdbcType=VARCHAR},
      </if>
      <if test="sgwInfo != null">
        #{sgwInfo,jdbcType=VARCHAR},
      </if>
      <if test="statusInfo != null">
        #{statusInfo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="trafficInfo != null">
        #{trafficInfo,jdbcType=VARCHAR},
      </if>
      <if test="timesheet != null">
        #{timesheet,jdbcType=BIGINT},
      </if>
      <if test="monthTime != null">
        #{monthTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>

</mapper>