<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eystar.console.startup.mapper.CPTrafficMapper">
  <resultMap id="BaseResultMap" type="com.eystar.console.startup.entity.CPTraffic">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="access_type_name" jdbcType="VARCHAR" property="accessTypeName" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="down_avg" jdbcType="DOUBLE" property="downAvg" />
    <result column="down_max" jdbcType="DOUBLE" property="downMax" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="probe_id" jdbcType="VARCHAR" property="probeId" />
    <result column="traffic_type" jdbcType="VARCHAR" property="trafficType" />
    <result column="up_avg" jdbcType="DOUBLE" property="upAvg" />
    <result column="up_max" jdbcType="DOUBLE" property="upMax" />
    <result column="timesheet" jdbcType="BIGINT" property="timesheet" />
    <result column="month_time" jdbcType="DATE" property="monthTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <sql id="Base_Column_List">
    id, access_type_name, create_time, down_avg, down_max, ip, probe_id, traffic_type, 
    up_avg, up_max, timesheet, month_time
  </sql>

  <insert id="insert" parameterType="com.eystar.console.startup.entity.CPTraffic">
    insert into c_p_traffic (id, access_type_name, create_time, 
      down_avg, down_max, ip, 
      probe_id, traffic_type, up_avg, 
      up_max, timesheet, month_time
      )
    values (#{id,jdbcType=VARCHAR}, #{accessTypeName,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, 
      #{downAvg,jdbcType=DOUBLE}, #{downMax,jdbcType=DOUBLE}, #{ip,jdbcType=VARCHAR}, 
      #{probeId,jdbcType=VARCHAR}, #{trafficType,jdbcType=VARCHAR}, #{upAvg,jdbcType=DOUBLE}, 
      #{upMax,jdbcType=DOUBLE}, #{timesheet,jdbcType=INTEGER}, #{monthTime,jdbcType=DATE}
      )
  </insert>


  <insert id="insertList" parameterType="com.eystar.console.startup.entity.CPTraffic">
    insert into c_p_traffic (id, access_type_name, create_time,
      down_avg, down_max, ip,
      probe_id, traffic_type, up_avg,
      up_max, timesheet, month_time
      )
    values
    <foreach collection="list" item="item" index="index" separator=",">
    (#{item.id,jdbcType=VARCHAR}, #{item.accessTypeName,jdbcType=VARCHAR}, #{item.createTime,jdbcType=INTEGER},
      #{item.downAvg,jdbcType=DOUBLE}, #{item.downMax,jdbcType=DOUBLE}, #{item.ip,jdbcType=VARCHAR},
      #{item.probeId,jdbcType=VARCHAR}, #{item.trafficType,jdbcType=VARCHAR}, #{item.upAvg,jdbcType=DOUBLE},
      #{item.upMax,jdbcType=DOUBLE}, #{item.timesheet,jdbcType=INTEGER}, #{item.monthTime,jdbcType=DATE}
      )
    </foreach>
  </insert>


  <insert id="insertSelective" parameterType="com.eystar.console.startup.entity.CPTraffic">
    insert into c_p_traffic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="accessTypeName != null">
        access_type_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="downAvg != null">
        down_avg,
      </if>
      <if test="downMax != null">
        down_max,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="probeId != null">
        probe_id,
      </if>
      <if test="trafficType != null">
        traffic_type,
      </if>
      <if test="upAvg != null">
        up_avg,
      </if>
      <if test="upMax != null">
        up_max,
      </if>
      <if test="timesheet != null">
        timesheet,
      </if>
      <if test="monthTime != null">
        month_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="accessTypeName != null">
        #{accessTypeName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="downAvg != null">
        #{downAvg,jdbcType=DOUBLE},
      </if>
      <if test="downMax != null">
        #{downMax,jdbcType=DOUBLE},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="probeId != null">
        #{probeId,jdbcType=VARCHAR},
      </if>
      <if test="trafficType != null">
        #{trafficType,jdbcType=VARCHAR},
      </if>
      <if test="upAvg != null">
        #{upAvg,jdbcType=DOUBLE},
      </if>
      <if test="upMax != null">
        #{upMax,jdbcType=DOUBLE},
      </if>
      <if test="timesheet != null">
        #{timesheet,jdbcType=INTEGER},
      </if>
      <if test="monthTime != null">
        #{monthTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>

</mapper>